<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/demo.css" />
    <link rel="stylesheet" href="/assets/font/font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/demo.css" />
    <link rel="stylesheet" type="text/css" href="/assets/component.css" />
    <link rel="stylesheet" type="text/css" href="/assets/animate.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/wow.min.js"></script>
    <script src="/assets/modernizr.custom.63321.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="/assets/jara/snap.svg-min.js"></script>

    <script>
        new WOW().init();
    </script>
    <style type="text/css">
    .BS{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size:50px;
        color:#ff3f34;
    }
    .wrapper_menu{
        font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
        background: #FF5252;
        color: #fff;
    }
    .full{
        background: url('/assets/bill.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }
    .bk{
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
    .txt{
        color:#fff;
    }
    .bill{
        transition: .5s ease-in-out;
        color: #fff;
        background: #FF8A80;
    }
    .bill:hover{
       padding-left:5%;
    }
    </style>


    <script type="text/javascript">
        $(document).ready(function(){

                $(".cart").click(function(){
                    $(".proceed_container").addClass("flipOutX");
                      $(".proceed_container").removeClass("flipInY");
                    $(".crt_container").addClass("animated flipInY").css({"display":"block"});
                    $(".crt_container").removeClass("flipOutX");
                });
                $(".closey").click(function(){
                      $(".crt_container").addClass("flipOutX");
                      $(".crt_container").removeClass("flipInY");
                });

        });
    </script>
</head>
<body>
     <%= render ("/shared/cart") %>
<div class="container-fluid full">
<div class="closer pull-right" style="margin:18px;font-size:32px;cursor:pointer;color:#fff;"><a href="/home"><span class="fa fa-home" style="color:#fff;">&nbspHome</span></a></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4" style="margin:20px;font-size:27px;color:#fff;cursor:pointer;"><i class="fa fa-chevron-left cart"></i> Back To Cart</div>
            <h4 class="col-xs-4 BS">Billing & Shipping</h4>
            <div class="col-xs-4"></div>
        </div>
    </div>
    <div class="row bill">
        <h4 class="col-lg-4 bill">Billing</h4>
        <h4 class="col-lg-4 bill">Shipping</h4>
        <h4 class="col-lg-4 bill">Payment Mode</h4>
    </div>
    <div class="container-fluid">

            <div class="row bk">
            <%= form_for :ordermaster,:url=>{:controller=>'home',:action=>'saveOrder'} do|f| %>
                <div class="col-lg-4" style="border-right:1px solid #c1c1c1"><br>
                    
                        <div class="form-group">
                            <h4 class="txt">Name</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <div class="icon-addon addon-md">
                                     <input type="text" id="bname" name="bname" class="form-control fields"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">Contact</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="number" id="bcontact" name="bcontact" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">Pincode</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="number" id="bpincode" name="bpincode" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">City</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="text" id="sbcity" name="bcity" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">State</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="text" id="bstate" name="bstate" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">Address</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="text" id="baddress" name="baddress" class="form-control" />
                                </div>
                            </div>
                        </div><br>
                    
                </div>
                <div class="col-lg-4" style="border-right:1px solid #c1c1c1"><br>
                    
                        <div class="form-group">
                            <h4 class="txt">Name</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <div class="icon-addon addon-md">
                                     <input type="text" id="sname" name="sname" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">Contact</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="number" id="scontact" name="scontact" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">Pincode</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="number" id="spincode" name="spincode" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">City</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="text" id="scity" name="scity" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">State</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="text" id="sstate" name="sstate" class="form-control" />
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <h4 class="txt">Address</h4>
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                <div class="icon-addon addon-md">
                                    <input type="text" id="saddress" name="saddress" class="form-control"/>
                                </div>
                            </div>
                        </div><br>
                    
                </div>
                <div class="col-lg-4 txt"><br><br>
                    <div class="radio">
                        <label><input type="radio" name="mop" value="cod" id="mop"/> Cash On Delivery</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" name="mop" id="mop" value="credit card"/> Credit Card</label>
                    </div><br>
                    <div class="well" style="color:#000;">
                        

                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>$446.00</th>
                                    </tr>
                                    <tr>
                                        <td>Shipping and handling</td>
                                        <th>$10.00</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$456.00</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                
                    </div>
                    <%= submit_tag("Place Order",:class=>"btn btn-danger") %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>