<div class="container">
    <h1 style="font-family:tahoma;">Edit Dish</h1>
</div>
<div class="row" style="padding-left: 20px;"><br>
    <%= form_for :dish, :url=>{:action=>'update',:id=> @dish}, :multipart => true do |f| %>
        
        <%= render(:partial => "form", :locals => {:f => f}) %>

        <%= submit_tag("Save",:class=>"btn btn-success") %>
    <% end %>
</div>