<div class="row">
    <div class="container">
        <h2>Dishes</h2><br>
        <h4 class="col-lg-1 col_name">S.No.</h4>
        <h4 class="col-lg-1 col_name">Dish Id</h4>
        <h4 class="col-lg-4 col_name" >Dish Name</h4>
        <h4 class="col-lg-4 col_name">Email</h4>
        <h4 class="col-lg-1 col_name">Action</h4>
    </div>
</div>